
.gallery-1 {
	width: 100%;
}

.image-lent2 {
	padding: 0px;	
}

.six-div-father {
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: relative;
}

.right-left {
	position: absolute;
	bottom: 0;
	
}

.div-five {
	margin: 100px 75px 0px 75px
}


.second-div-child > div {
	width: 45%
}

.computer-div2 {
	width: 100%;
}

.div-img2 {
	bottom: 5%;
}

.radio-flex {	    
    top: 90%;
    left: 2%;
}