.beginner {
	line-height: 5.8rem;
}
.div-img2 {	
	right: 50px;
}

.sprite {
	flex-direction: column;
    display: flex;    
    flex-wrap: wrap;
    align-items: center;
}
.bino {
    margin-right: 0;
}
.six-img {
    width: 500px;
}