.image-lent {
	align-items: center;
}
.gallery-2 {
	width: 100%;
}

.design-father > div {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.design-father > div > div {
	width: 80%;
}

.design1-spec {
	padding: 7% 7% 50px 60px;
}

.design2-spec {
	padding: 7% 7% 50px 60px;
}

.div-eight {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.div-eight > div {
	width: 100%;
}

.eight-1 {
	margin-bottom: 10px;
}

.eight-2 {
	margin-left: 0px;
}

.image-lent2 > div {
	width: 60%;
}

.jesusX {
	bottom: 90px;
	width: 85%;	
}

.div-img2 {
    bottom: 0%;
}
.for-3-sections {    
    padding: 0;    
}
.width25 {
    width: 50%;
}