html {
	font-size: 8px;
}
.div-img2 {	
	right: 100px;
}

.second-div-child {
	margin-left: 5%;
	margin-right: 5%;
}

.image-lent {
	margin-left: 5%;
	margin-right: 5%;
}

.design-father {
	margin-left: 5%;
	margin-right: 5%;
}

.div-eight {
	padding-left: 5%;
	padding-right: 5%;
}

.image-lent2 > div {	
	width: 50%;
}

.div-six {
	margin-left: 5%;
	margin-right: 5%;
}

.right-left {
	bottom: -20px;
	right: 0;
}

.radio-flex {
	top: 59%;
}
.div-flex {
    margin-top: 5%;    
    margin-right: 5%
}
.left-div {    
    left: 10%;
}